/* Object animation */

@keyframes landingPage {
  0% {
    background-color: hsl(var(--base-hue), 42%, 51%);
    transform: rotate(90deg);
    transform: translateY(-100px);
  }
  25% {
    background-color: hsl(var(--base-hue), 50%, 60%);
  }
  50% {
    background-color: hsl(var(--base-hue), 30%, 40%);
  }
  75% {
    background-color: hsl(var(--base-hue), 42%, 51%);
  }
  100% {
    background-color: hsl(var(--base-hue), 42%, 51%);
    transform: rotate(720deg);
    transform: translateY(calc(100px + 100vh));
  }
}

.animation {
  opacity: 0.5;
  animation-name: landingPage;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Background animation */

@keyframes landingPageBackground {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* CLASS FOR APPLYING BACKGROUND GRADIENT 
.animation-background {} */
